@import "../../style/index.scss";

.ui.steps {
  * {
    color: var(--color-text) !important;
  }
  .ui.step {
    background-color: var(--color-secondary);

    @include breakpoint("tablet", max) {
      &.not-active {
        display: none;
      }
    }

    &:after {
      background-color: var(--color-secondary) !important;
      border-color: var(--color-base) !important;
    }

    &.active {
      background-color: var(--color-primary);

      &:after {
        background-color: var(--color-primary) !important;
        border-color: transparent !important;
      }
    }
  }
}
