* {
  font-family: "Quicksand", sans-serif;
  border-radius: 0 !important;
}

html,
body,
#root {
  margin: 0;
  height: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

.page {
  height: 100%;
}

/*
 * NAV
 */

nav.navbar {
  padding: 0.5em;
  min-width: 100%;
  position: relative;
}

nav.navbar h2.brand {
  text-align: center;
  padding: 0;
  margin: 0;
}

nav.navbar i.icon.mode-toggler {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 100%;
  cursor: pointer;
}

footer.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 40px;
  padding: 5px;
  padding-bottom: 20px;
}

footer.footer {
  text-align: center;
}

footer.footer h4 {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  footer.footer {
    text-align: left;
  }
  footer.footer h4 {
    text-align: right;
  }
}

/*
 * Container
 */

div.container.centered {
  text-align: center;
  align-content: center;
}

div.container.middle {
  margin-top: auto;
  margin-bottom: auto;
}

div.search-result {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
  scrollbar-width: none;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  div.search-result {
    max-height: none;
  }
}

div.tag-box {
  width: 90%;
  min-height: 25px;
  margin: 5px auto;
  margin-top: 2em;
}

@media only screen and (min-width: 450px) {
  div.tag-box {
    max-width: 200px;
  }
}

div.container.store-list {
  min-height: 100%;
  width: 50%;
  margin: 1em auto;
}

div.store-listing {
  height: 20px;
  width: 100%;
  margin: 5px 0;
}

div.store-listing > .listing-section {
  width: 25%;
  max-height: 20px;
  display: inline-block;
}

/**/
input,
div.input > input {
  padding: 0.7em 0.5em;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
}

div.input {
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 450px) {
  div.input {
    min-width: 45% !important;
  }
}

button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

.map-wrapper {
  margin-top: 3em;
  margin-bottom: 1em;
  height: 450px;
  width: 100%;
  text-align: center;
  color: black !important;
}

.ui.steps,
.ui.steps * {
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .ui.steps .ui.step.not-active {
    display: none;
  }
}
