html,
body,
#root {
  height: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.mat-input {
  padding: 0.5em;
  border-radius: 0;
  border: 1px solid black;
}

nav.navbar {
  padding: 0.5em;
  min-width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #189ab4;
}

nav.navbar .brand {
  text-align: center;
}

#map {
  height: 100%;
  margin: 0px;
  padding: 0px;
}