@import "../../style/index.scss";

nav.navbar {
  padding: $padding;
  margin-bottom: $margin;

  border-bottom: 1px solid color(primary);
  background-color: lighten(color(base), 1%);

  & > .container {
    display: flex;
    justify-content: space-around;

    .brand {
      font-size: 2rem;
      margin: auto;
      margin-left: 0;
    }

    div.nav-menu {
      margin: auto;
      margin-right: 0;
      text-align: right;
    }
  }
}
